<app-navbar></app-navbar>

<div class="page">
    Swipe right to match, swipe left to ignore.

    <ul 
        swing-stack
        [stackConfig]="stackConfig"
        #mystack
        (throwoutright)="onThrowOutRight($event)"
        (throwoutleft)="onThrowOutLeft($event)"
        class="stack"
    >
        <li class="empty-mentor">No mentee available! :(</li>
        <li
            swing-card
            #mycards
            *ngFor="let match of matches$ | async; index as i"
            [style.margin-top]="i * 5 + 'px'"
            [style.transform]="'scaleX(' + (1 - i * 0.1) + ')'"
            [id]="match.id"
        >
            <mat-card *ngIf="(match.mentee | firedoc:'users' | async) as m;" class="mentor-card mat-elevation-z4">
                <img [src]="m.id | avatar | async" class="card-cover">
                <mat-card class="mentor-info-card mat-elevation-z4">
                    <h2>{{ m.name }}</h2>
                    <p class ="profile-section">{{ m.level | uppercase }} | {{ m.major | uppercase }}</p>
                    <p class="profile-section-title">REQUESTING FOR</p>
                    <p class="profile-section">{{ (match.course | firedoc:'courses' | async)?.code }}</p>
                </mat-card>
            </mat-card>
        </li>
    </ul>
</div>
