<app-navbar></app-navbar>

<div class="page">
    <div class="intro">
        <h1>Hi {{ (user$ | async)?.name }}!</h1>
        <p>Ready to get started?</p>
    </div>
    
    <div class="action-cards">
        <mat-card [routerLink]="'/find'">
            <img src="/assets/find-mentor-icon.png">
            <span class="action-text">Find Mentor</span>
        </mat-card>
        <mat-card [routerLink]="'/find-mentee'">
            <img src="/assets/find-mentee-icon.png">
            <span class="action-text">Find Mentee</span>
        </mat-card>
        <mat-card>
            <img src="/assets/calendar-icon.png">
            <span class="action-text">Calendar</span>
        </mat-card>
    </div>

    <div *ngIf="mentorMatches$ | async as matches" class="mentor-section">
        <ng-container *ngIf="matches?.length > 0">
            <h2>Your Mentors</h2>
            <div class="mentor-list">
                <ng-container *ngFor="let match of matches">
                    <mat-card [routerLink]="'/chat/' + match.id">
                        <div *ngIf="(match.mentor | firedoc:'users' | async) as user" class="profile-pic">
                            <img [src]="user.id | avatar | async">
                        </div>
                        <div class="mentor-info">
                            <p><b>{{ (match.mentor | firedoc:'users' | async)?.name }}</b></p>
                            <p>{{ (match.course | firedoc:'courses' | async)?.code }}</p>
                        </div>
                    </mat-card>
                </ng-container>
            </div>
        </ng-container>
    </div>

    <div *ngIf="menteeMatches$ | async as matches" class="mentor-section">
        <ng-container *ngIf="matches?.length > 0">
            <h2>Your Mentees</h2>
            <div class="mentor-list">
                <ng-container *ngFor="let match of matches">
                    <mat-card [routerLink]="'/chat/' + match.id">
                        <div *ngIf="(match.mentee | firedoc:'users' | async) as user" class="profile-pic">
                            <img [src]="user.id | avatar | async">
                        </div>
                        <div class="mentor-info">
                            <p><b>{{ (match.mentee | firedoc:'users' | async)?.name }}</b></p>
                            <p>{{ (match.course | firedoc:'courses' | async)?.code }}</p>
                        </div>
                    </mat-card>
                </ng-container>
            </div>
        </ng-container>
    </div>
</div>
