.page {
    color: white;
    align-items: center;
    text-align: center;
}

$break-small: 40em;
$break-large: 64em;

.search-box {
    margin-bottom: 24px;
    padding: 4px;

    @media screen and (max-width: $break-small) {
        width: 100%;
    }

    @media screen and (min-width: $break-small) and (max-width: $break-large) {
        width: 100%;
    }

    @media screen and (min-width: $break-large) {
        width: 50vw;
    }
}

mat-form-field {
    width: 100%;

    ::ng-deep .mat-form-field-wrapper {
        margin: 0;
        padding: 0;
    }
}

.stack {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;

    li {
        position: absolute;
    }

    padding: 0;
}

.mentor-card {
    height: 50vh;
    padding: 0;
    display: flex;
    flex-direction: column-reverse;

    .card-cover {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        border-radius: 4px;
    }

    .mentor-info-card {
        margin: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 4px;

        h2 {
            color: #163a41;
            font-size: 1.25em;
            margin: 0;
        }

        p {
            margin: 4px;
        }

        .profile-section-title {
            opacity: 0.7;
            font-size: .75em;
        }
        
        .profile-section {
            font-size: .875em;
        }

        .profile-stars {
            mat-icon {
                color: gold;
            }
        }
    }

    @media screen and (max-width: $break-small) {
        width: 75vw;
    }

    @media screen and (min-width: $break-small) and (max-width: $break-large) {
        width: 50vw;
    }

    @media screen and (min-width: $break-large) {
        width: 37.5vw;
    }
}

.empty-mentor {
    margin-top: 12.5vh;
}
