<ng-container *ngIf="user$ | async as user">
    Hello {{ user.name }}!

    Pick class:
    
    <button
        *ngFor="let course of courses$ | async"
        (click)="pickCourse(course.id)"
        mat-raised-button
    >
        {{ course.code }} - {{ course.name }}
    </button>
    
    <ng-container *ngIf="pickedCourse">
        Pick mentor:
    
        <ng-container *ngFor="let mentor of mentors$ | async">
            <ng-container *ngIf="(mentor.user | firedoc:'users' | async) as mentor">
                <button
                    (click)="matchMentor(user.id, mentor.id)"
                    mat-raised-button
                >
                    {{ mentor.name }}
                </button>
            </ng-container>
        </ng-container>
    </ng-container>

    Pick mentee:
    <ng-container *ngFor="let match of menteeMatches$ | async">
        <ng-container *ngIf="(match.mentee | firedoc:'users' | async) as mentee">
            <button
                (click)="acceptMatch(match.id)"
                mat-raised-button
            >
                {{ mentee.name }}
            </button>
        </ng-container>
    </ng-container>
</ng-container>
