<app-navbar></app-navbar>

<div class="page" *ngIf="user$ | async as user">
    <p>Enter the course you want to be mentored in:</p>
    <mat-form-field appearance="outline">
        <input type="text" matInput [formControl]="courseForm" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="autoDisplay" (optionSelected)="pickCourse($event)">
            <mat-option *ngFor="let course of courses$ | async" [value]="course">
                {{ course.code }} - {{ course.name }}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>

    <ng-container *ngIf="pickedCourse">
        Pick mentor:

        <ul 
            swing-stack
            [stackConfig]="stackConfig"
            #mystack
            (throwoutright)="onThrowOutRight($event)" 
            class="stack"
        >
            <li
                swing-card 
                #mycards 
                *ngFor="let mentor of mentors$ | async as mentors; index as i"
                [id]="mentor.user"
            >
                <mat-card *ngIf="(mentor.user | firedoc:'users' | async) as m;" class="mentor-card mat-elevation-z4">
                    <img [src]="m.id | avatar | async" class="card-cover">
                    <mat-card class="mentor-info-card mat-elevation-z4">
                        <h2>{{ m.name }}</h2>
                        <p class ="profile-section">{{ m.level | uppercase }} | {{ m.major | uppercase }}</p>
                        <p class="profile-stars">
                            <mat-icon *ngFor="let star of [].constructor(mentor.reviewStars)">star</mat-icon>
                        </p>
                        <p class="profile-section-title">BY {{ mentor.reviewCount }} MENTEES</p>
                    </mat-card>
                </mat-card>
            </li>
        </ul>
    </ng-container>
</div>
