<app-navbar></app-navbar>

<div class="chat-page">
    <div class="other-chats">

    </div>
    <div class="chat-content">
        <div class="chat-history">
            <div *ngFor="let chat of chats$ | async">
            <div class="speech-wrapper">
                <div class="bubble" [class.alt]="chat.user == userId">
                    <div class="txt">
                        <p class="name" [class.alt]="chat.user == userId">{{ (chat.user | firedoc:'users' | async)?.name }}</p>
                        <p class="message">{{ chat.content }}</p>
                    </div>
                <div class="bubble-arrow" [class.alt]="chat.user == userId"></div>
                </div>
            </div>
            </div>
        </div>
        
        <div class="chat-box">
            <input
                [formControl]="chatForm"
                placeholder="Hello..."
                matInput
            >
            <button (click)="sendText()" mat-flat-button>
                Send
            </button>
        </div>
    </div>
    <div class="profile">

    </div>
</div>
