<app-navbar></app-navbar>

<div class="chat-page">
    <div class="other-chats">

    </div>
    <div class="chat-content">
        <div class="chat-history">
            <div *ngFor="let chat of chats$ | async">
            <div class="speech-wrapper">
                <div class="bubble" [class.alt]="chat.user == userId">
                    <div class="txt">
                        <p class="name" [class.alt]="chat.user == userId">{{ (chat.user | firedoc:'users' | async)?.name }}</p>
                        <p class="message">{{ chat.content }}</p>
                    </div>
                <div class="bubble-arrow" [class.alt]="chat.user == userId"></div>
                </div>
            </div>
            </div>
        </div>
        
        <div class="chat-box">
            <input
                [formControl]="chatForm"
                placeholder="Hello..."
                matInput
            >
            <button (click)="sendText()" mat-flat-button>
                Send
            </button>
        </div>
    </div>
    <div class="profile hide-on-mobile">
        <ng-container *ngIf="match$ | async as match">
            <ng-container *ngIf="(match.mentor === userId ? match.mentee : match.mentor) | firedoc:'users' | async as user">
                <div class="profile-image-cropper">
                    <img [src]="user.id | avatar | async" class="profile-image">
                </div>
                <b>{{ user.name }}</b>
                <p class ="profile-section-title">YEAR</p>
                <p class ="profile-section">{{ user.level | uppercase }}</p>
                <p class ="profile-section-title">MAJOR</p>
                <p class ="profile-section">{{ user.major | uppercase }}</p>
                <p class ="profile-section-title">TUTOR FOR</p>
                <p class ="profile-section">{{ (match.course | firedoc:'courses' | async)?.code | uppercase }}</p>
                <p class ="profile-section-title">EMAIL ADDRESS</p>
                <p class ="profile-section">{{ user.email | uppercase }}</p>

                <img src="/assets/calendar-icon.png" class="book-appt">
                <p class ="profile-section-title">SCHEDULE A STUDY SESSION</p>
            </ng-container>
        </ng-container>
    </div>
</div>
