<div class="page-content">
    <img src="/assets/mentr-logo.png" class="logo">
    <mat-card class="mat-elevation-z4">
        <form [formGroup]="loginForm">
            <mat-form-field floatLabel="always" appearance="outline">
                <mat-label>Email</mat-label>
                <input
                    formControlName="email" 
                    type="email"
                    placeholder="petr@uci.edu"
                    matInput
                >
            </mat-form-field>
            
            <mat-form-field floatLabel="always" appearance="outline">
                <mat-label>Password</mat-label>
                <input 
                    formControlName="password" 
                    type="password"
                    placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;"
                    matInput
                >
            </mat-form-field>
        </form>
        <div class="form-actions">
            <mat-checkbox color="primary">Remember me</mat-checkbox>
            <div class="flex-span"></div>
            <button (click)="login()" [disabled]="loginForm.invalid" mat-flat-button color="primary">Login</button>
        </div>
    </mat-card>

    <div class="other-actions">
        Forgot password?
        <hr>
        Don't have an account?
        <button (click)="register()" mat-flat-button class="join-button">JOIN MENTR.</button>
    </div>
</div>
