<form [formGroup]="loginForm">
    <mat-form-field floatLabel="always" appearance="outline">
        <mat-label>Email</mat-label>
        <input
            formControlName="email" 
            type="email"
            placeholder="petr@uci.edu"
            matInput
        >
    </mat-form-field>
    
    <mat-form-field floatLabel="always" appearance="outline">
        <mat-label>Password</mat-label>
        <input 
            formControlName="password" 
            type="password"
            placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;"
            matInput
        >
    </mat-form-field>
</form>

<button (click)="login()" [disabled]="loginForm.invalid" mat-raised-button>Login</button>
<button (click)="register()" [disabled]="loginForm.invalid" mat-raised-button>Register</button>
<button (click)="signout()" mat-raised-button>Sign Out</button>

<div>
    {{ (user$ | async)?.email }}
    {{ (user$ | async)?.id }}
</div>
