<mat-toolbar>
    <span class="clickable" routerLink="/landing">
    	<img src="/assets/mentr-logo.png" class="icon-settings">
    </span>
    <div class="flex-span"></div>
    <button routerLink="/register" mat-button>Sign Up</button>
    <button routerLink="/login" mat-button>Sign In</button>
</mat-toolbar>

<img src="/assets/gear1.png" class="gear1">
<img src="/assets/gear2.png" class="gear2">
<img src="/assets/gear3.png" class="gear3">

<div class="content">
	<header class="tagline">
		Match with a mentor today!
	</header>
	<p class="description">
		All of us have times where we wish we had mentors. We believe that with mentr. the process of mentor-mentee matching can be done effectively without hassle.
	</p>
	<button (click)="action.emit()" mat-flat-button [color]="color" [disabled]="disabled || loading">
    <span [class.hide-text]="loading"><ng-content></ng-content></span>
    <button routerLink="/register" mat-flat-button class="join-button" class="button-settings">JOIN MENTR.</button>
	</button>
</div>
