<mat-toolbar>
    mentr.
    <div class="flex-span"></div>
    <button mat-button>About</button>
    <button mat-button>Sign Up</button>
    <button (click)="signOut()" mat-button>Log In</button>
</mat-toolbar>

<img src="/assets/gear1.png" class="gear1">
<img src="/assets/gear2.png" class="gear2">
<img src="/assets/gear3.png" class="gear3">

<div class="content">
	<header class="tagline">
		Mentees deserve better.
	</header>
	<p class="description">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do <br />eiusmod tempor incididunt ut labore et dolore magna aliqua.
	</p>


</div>
