mat-toolbar {
    background: rgba(0, 0, 0, 0.125) !important;
    color: white !important;
}

.icon-settings {
  margin-top: 8px;
  left: 5px;
  width: 5%;
  height: 5%;
}

.hide-text {
    opacity: 0;
}

.hide-spinner {
    opacity: 0;
}

mat-spinner {
    position: absolute;
    top: 6px;
    margin-left: 4px;
}

.content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.gear1 {
  top: 264px;
  height: 650px;
  width: 650px;
  position: absolute;
  margin: 0;
  left: 930px;
  animation: spin 20s linear infinite;
  transform: rotate(0deg);
  opacity: 0.8;
  z-index: -100;
}

.gear2 {
  top: -429px;
  height: 1000px;
  width: 1000px;
  position: absolute;
  margin: 0;
  left: -430px;
  animation: spin 45s linear infinite;
  transform: rotate(0deg);
  opacity: 0.8;
  z-index: -100;
}

.gear3 {
  top: 500px;
  height: 500px;
  width: 500px;
  position: absolute;
  margin: 0;
  left: 250px;	
  animation: spin 45s linear infinite;
  transform: rotate(0deg);
  opacity: 0.8;
  z-index: -100;
}

.tagline {
  top: 330px;
  font-size: 75px;
  margin-top: 200px;
  font-family: Roboto, "Helvetica-Bold", sans-serif;
  color: #ffff;
  text-align: center;
  transform           : rotate(0deg);
}

.description {
  top                 : 430px;
  width: 700px;
  margin-bottom              : 15px;
  font-family: Roboto, "Helvetica", sans-serif;
  font-size           : 16px;
  color               : #ffffff;
  text-align          : center;
}

.join-button {
    color: #538186;
}


@keyframes spin {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(360deg);
  }
}